:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --tac-yellow: rgb(255, 213, 47);
    --salmon: salmon;
    --dark-bg: rgb(255, 255, 255);
    --shadow: rgb(182, 69, 56);
    --super-salmon: rgb(248, 99, 82);
    --borders: #fff;
    --button-text: rgb(0, 0, 0);
    --hover-button-text: #fff;
    --form-bg: #29465a;
    --form-heading: #fff;
    --form-input-bg: rgb(255, 255, 255);
    --form-accent: var(--tac-yellow);
    --form-accent-dark: rgb(255, 104, 84); 
    --form-label: #fff;
    --form-grey-out: gray;
    --title: rgb(255, 255, 255);
    --title-span: rgb(255, 213, 47);
    --animate-text: #2376ad;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    height: 100vh;
    margin: 0;
    position: relative;
    z-index: -9;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

 }

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.game-title p {
    font-size:  50px;
    font-weight: 800;
    font-style: italic;
    margin: 0;
    padding: 15px;
    color: var(--title);
}

.game-title span {
    color: var(--title-span)
}

.start-game {
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--dark-bg);
    color: var(--button-text);
    border-radius: 5px;
    border: none;
    box-shadow: -2px 4px 2px var(--shadow);
    transition: all 0.3s ease-in-out;
}

.start-game span {
    color: var(--shadow);
}

.start-game-animate {
    animation: breathe 1.5s ease-in-out infinite;
}

@keyframes breathe {
    0%{
        transform: translateY(3px);
    }
    50%{
        transform: translateY(-7px);
        /* width: 360px; */
    }
    0%{
        transform: translateY(0px);
    }
}

.start-game-hover:hover {
    transform: translateY(2px);
    box-shadow: 0px 2px 2px var(--shadow);
    background-color: var(--super-salmon);
    color: var(--hover-button-text);
}

.button-text {
    margin: 0;
    padding: 0;
}

.animate-text {
    color: var(--animate-text) !important;
    font-size: 22px !important;
}

.sub-display {
    text-align: center;
    letter-spacing: 0.5px;
    margin: 0;
    padding-top: 10px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    color: var(--borders);
}

.sub-display-end {
    border: 1px dashed var(--borders); 
    padding: 5px;
}

.game-grid {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(3, 110px);
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.game-grid-disable {
    pointer-events: none;
}

.game-grid-item {
    display: grid;
    place-items: center;
}

.border-v {
    border-left: 4px solid var(--borders);
    border-right: 4px solid var(--borders);
}

.border-h {
    border-top: 4px solid var(--borders);
    border-bottom: 4px solid var(--borders);
}

.game-symbol {
    width: 80%;
    position: relative;
    z-index: -3;
    transition: all 0.5s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    opacity: 0.6;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background: var(--dark-bg);
    visibility: hidden;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    border: none;
    border-radius: 10px;
    padding: 30px 20px;
    background: var(--form-bg);
    position: absolute; 
    z-index: 4;
    top: 49%; 
    left: 50%; 
    transform: translate(-50%,-50%) scale(0); 
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}

.form-heading {
    text-align: center;
    font-size: 24px;
    color: var(--form-heading);
    font-weight: bold;
}

input[type="text"] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: var(--form-input-bg);
    font-size: 1.2rem;
}

input[type="checkbox"] {
    accent-color: var(--form-accent);
    transform: scale(2);
    margin-left: 15px;
}

input:focus {
    outline: 2px solid var(--form-accent);
}

::placeholder{
    font-size: 0.9rem;
}

label {
    color: var(--form-label);
    font-weight: bold;
    font-size: 1.05rem;
}

label span {
    color: var(--form-accent);
    white-space: pre;
    font-size: 1.3rem;
}

.submit {
    font-size: 1.2rem;
    padding: 15px;
    margin-top: 20px;
    font-weight: bold;
    background: var(--form-accent);
    border: none;
    border-radius: 5px;
}

.submit:hover {
    background: var(--form-accent-dark);

}

.grey-out {
    background: var(--form-grey-out) !important;
}

.player-wins {
    font-size: 28px !important;
    color: var(--shadow)
}

.reset,
.restart {
    text-align: center;
    margin-top: 50px;
    opacity: 0;
    display: none;
    transition: all 1s ease-in;
}

.replay {
    background-color: var(--form-accent-dark) !important;
    color: var(--borders) !important;
}

.footer {
    color: var(--borders);
    text-align: center;
    font-size: 14px;
    padding: 50px 0px;
}

.footer a {
    text-decoration: none;
    color: var(--title-span);
}

.footer p:hover > svg {
    transform: rotate(360deg);
    height: 18px;
    color: white;
}

.footer svg {
    height: 14px;
    padding: 0 2px;
    color: var(--tac-yellow);
    transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 380px) {
    .footer {
        font-size: 11px;
        top: 90%;
    }
}

